{
  "presets": [
    "next/babel",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [["transform-object-rest-spread"]]
}
