AUTH_JWT_SECRET=CHANGE_ME
PERIODS=Alle

# Express Port
PORT=3100

# Mongo DB & Elastic Search
DB_URL=mongodb://localhost:27017/bundestagio
ELASTICSEARCH_URL=elasticsearch,

# GraphQL
GRAPHQL_PATH=/
GRAPHIQL_PATH=/graphiql
ENGINE_API_KEY=
ENGINE_DEBUG_MODE=false

# Security
WHITELIST_DATA_SOURCES=::ffff:127.0.0.1,::1

# Voyager
VOYAGER=true

# Logging
# Possible values: [error|warn|info|verbose|debug|silly]
LOGGING_CONSOLE=silly
LOGGING_FILE=silly
LOGGING_DISCORD=silly
LOGGING_DISCORD_WEBHOOK=
# This reflects as which level are mongo querys logged
LOGGING_MONGO=silly

# Possible values: [development|production]
NODE_ENV=production

# Enable express status
EXPRESS_STATUS=true

# CronJobs ( check with https://crontab.guru/ )
CRON_START_ON_INIT=false
#runtime: CRON_PROCEDURES ~> 5m
CRON_PROCEDURES=0 3 * * *
#runtime: CRON_CONFERENCEWEEKDETAILS ~ 5min - unlimited
CRON_CONFERENCEWEEKDETAILS=*/15 * * * * 
#runtime: CRON_NAMED_POLLS ~> 15m
CRON_NAMED_POLLS=15 3 * * *
#runtime: CRON_NAMED_POLLS_DEPUTIES ~> 10m
CRON_NAMED_POLLS_DEPUTIES=45 3 * * *
#runtime: CRON_DEPUTY_PROFILES ~> 10m
CRON_DEPUTY_PROFILES=0 4 * * *