{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "linebreak-style": 0,
    "no-console": 0,
    "no-new": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
