[submodule "bundestag.io"]
	path = bundestag.io
	url = https://github.com/demokratie-live/bundestag.io
[submodule "client"]
	path = client
	url = https://github.com/demokratie-live/democracy-client
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/demokratie-live/democracy-search
[submodule "bundestag.io-admin"]
	path = bundestag.io-admin
	url = ../bundestag.io-admin.git
[submodule "docu"]
	path = docu
	url = https://github.com/demokratie-live/democracy-docu.git
[submodule "democracy-deutschland.de"]
	path = democracy-deutschland.de
	url = ../democracy-website.git
[submodule "democracy-app.de"]
	path = democracy-app.de
	url = ../democracy-desktop.git
[submodule "democracy-app.de-api"]
	path = democracy-app.de-api
	url = ../democracy-server.git
[submodule "democracy-app.de-admin"]
	path = democracy-app.de-admin
	url = ../democracy-admin.git
