[submodule "server"]
	path = server
	url = https://github.com/demokratie-live/democracy-server
[submodule "bundestag.io"]
	path = bundestag.io
	url = https://github.com/demokratie-live/bundestag.io
[submodule "client"]
	path = client
	url = https://github.com/demokratie-live/democracy-client
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/demokratie-live/democracy-search
[submodule "admin"]
	path = admin
	url = https://github.com/demokratie-live/bundestag.io-admin
[submodule "docu"]
	path = docu
	url = ../democracy-docu.git
[submodule "website"]
	path = website
	url = ../democracy-website.git
[submodule "desktop"]
	path = desktop
	url = https://github.com/demokratie-live/democracy-desktop.git
