[submodule "app-server"]
	path = app-server
	url = https://github.com/demokratie-live/democracy-server
[submodule "bundestagIo"]
	path = bundestagIo
	url = https://github.com/demokratie-live/bundestag.io
[submodule "mobile-client"]
	path = mobile-client
	url = https://github.com/demokratie-live/democracy-client
