version: '3'
services:
  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:80:80"
      - "${IP:-0.0.0.0}:443:443"
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
    logging:
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging:
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  democracy:
    env_file: ./server/.env
    build: ./server
    container_name: democracy
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACY:-democracy.bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACY:-democracy.bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      DB_URL: mongodb://mongodb/democracy
      BUNDESTAGIO_SERVER_URL: http://bundestagio/graphql
      ELASTICSEARCH_URL: ${ELASTICSEARCH_URL:-elasticsearch}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracy"
    depends_on:
      - mongodb

  democracy-admin:
    env_file: ./server-admin/.env
    build: ./server-admin
    container_name: democracy-admin
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACY_ADMIN:-admin.democracy.bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACY_ADMIN:-admin.democracy.bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracy-admin"
    depends_on:
      - mongodb

  bundestagio:
    env_file: ./bundestag.io/.env
    build: ./bundestag.io
    container_name: bundestagio
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: ${DOMAIN_BUNDESTAGIO:-bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_BUNDESTAGIO:-bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      DB_URL: mongodb://mongodb/bundestagio
      DEMOCRACY_SERVER_WEBHOOK_URL: http://democracy/webhooks/bundestagio/update
      ELASTICSEARCH_URL: ${ELASTICSEARCH_URL:-elasticsearch}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "bundestagio"
    depends_on:
      - mongodb

  bundestagio-admin:
    env_file: ./bundestag.io-admin/.env
    build: ./bundestag.io-admin
    container_name: bundestagio-admin
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: ${DOMAIN_BUNDESTAGIO_ADMIN:-admin.bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_BUNDESTAGIO_ADMIN:-admin.bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "bundestagio-admin"
    depends_on:
      - bundestagio

  democracyappde:
    env_file: ./democracy-app.de/.env
    build: ./democracy-app.de
    container_name: democracyappde
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACYAPPDE:-democracy-app.de}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACYAPPDE:-democracy-app.de}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracyappde"
    depends_on:
      - democracy

  mongodb:
    image: mongo:3.6
    container_name: mongodb
    restart: always
    networks:
      default:
      intern:
        aliases:
          - "mongodb"
    command: mongod --smallfiles
volumes:
  db_data: #/data/mongodb/db


networks:
  default:
    external:
      name: ${NETWORK:-nginx-proxy}
  intern: 
    driver: bridge