version: '3'
services:
  nginx-web:
    image: nginx
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: ${NGINX_WEB:-nginx-web}
    restart: always
    ports:
      - "${IP:-0.0.0.0}:80:80"
      - "${IP:-0.0.0.0}:443:443"
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
    logging:
      options:
        max-size: ${NGINX_WEB_LOG_MAX_SIZE:-4m}
        max-file: ${NGINX_WEB_LOG_MAX_FILE:-10}
    networks:
      default:
      intern:

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup ${NGINX_WEB:-nginx-web} -watch -wait 10s:45s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: ${DOCKER_GEN:-nginx-gen}
    restart: always
    volumes:
      - ${NGINX_FILES_PATH:-./data}/conf.d:/etc/nginx/conf.d
      - ${NGINX_FILES_PATH:-./data}/vhost.d:/etc/nginx/vhost.d
      - ${NGINX_FILES_PATH:-./data}/html:/usr/share/nginx/html
      - ${NGINX_FILES_PATH:-./data}/certs:/etc/nginx/certs:ro
      - ${NGINX_FILES_PATH:-./data}/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging:
      options:
        max-size: ${NGINX_GEN_LOG_MAX_SIZE:-2m}
        max-file: ${NGINX_GEN_LOG_MAX_FILE:-10}

  democracy-app.de-api:
    env_file: ./democracy-app.de-api/.env
    build: ./democracy-app.de-api
    container_name: democracy-app.de-api
    expose:
      - 80
    restart: always
    logging:
      options:
        max-size: ${DEMOCRACY_APP_DE_API_LOG_MAX_SIZE:-2m}
        max-file: ${DEMOCRACY_APP_DE_API_LOG_MAX_FILE:-10}
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACY_APP_DE_API:-api.democracy-app.de}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACY_APP_DE_API:-api.democracy-app.de}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      DB_URL: mongodb://mongodb/democracy
      BUNDESTAGIO_SERVER_URL: http://bundestag.io-api/
      ELASTICSEARCH_URL: ${ELASTICSEARCH_URL:-elasticsearch}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracy-app.de-api"
    depends_on:
      - mongodb

  democracy-app.de-admin:
    env_file: ./democracy-app.de-admin/.env
    build: ./democracy-app.de-admin
    container_name: democracy-app.de-admin
    expose:
      - 80
    restart: always
    logging:
      options:
        max-size: ${DEMOCRACY_APP_DE_ADMIN_LOG_MAX_SIZE:-2m}
        max-file: ${DEMOCRACY_APP_DE_ADMIN_LOG_MAX_FILE:-10}
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACY_APP_DE_ADMIN:-admin.democracy-app.de}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACY_APP_DE_ADMIN:-admin.democracy-app.de}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracy-app.de-admin"
    depends_on:
      - mongodb

  bundestag.io-api:
    env_file: ./bundestag.io-api/.env
    build: ./bundestag.io-api
    container_name: bundestag.io-api
    expose:
      - 80
    restart: always
    logging:
      options:
        max-size: ${BUNDESTAG_IO_API_LOG_MAX_SIZE:-2m}
        max-file: ${BUNDESTAG_IO_API_LOG_MAX_FILE:-10}
    environment:
      VIRTUAL_HOST: ${DOMAIN_BUNDESTAG_IO_API:-api.bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_BUNDESTAG_IO_API:-api.bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      DB_URL: mongodb://mongodb/bundestagio
      DEMOCRACY_SERVER_WEBHOOK_URL: http://democracy-app.de-api/webhooks/bundestagio/update
      ELASTICSEARCH_URL: ${ELASTICSEARCH_URL:-elasticsearch}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "bundestag.io-api"
    depends_on:
      - mongodb

  bundestag.io-admin:
    env_file: ./bundestag.io-admin/.env
    build: ./bundestag.io-admin
    container_name: bundestag.io-admin
    expose:
      - 80
    restart: always
    logging:
      options:
        max-size: ${BUNDESTAG_IO_ADMIN_LOG_MAX_SIZE:-2m}
        max-file: ${BUNDESTAG_IO_ADMIN_LOG_MAX_FILE:-10}
    environment:
      VIRTUAL_HOST: ${DOMAIN_BUNDESTAG_IO_ADMIN:-admin.bundestag.io}
      LETSENCRYPT_HOST: ${DOMAIN_BUNDESTAG_IO_ADMIN:-admin.bundestag.io}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "bundestag.io-admin"
    depends_on:
      - bundestag.io-api

  democracy-app.de:
    env_file: ./democracy-app.de/.env
    build: ./democracy-app.de
    container_name: democracy-app.de
    expose:
      - 80
    restart: always
    logging:
      options:
        max-size: ${DEMOCRACY_APP_DE_LOG_MAX_SIZE:-2m}
        max-file: ${DEMOCRACY_APP_DE_LOG_MAX_FILE:-10}
    environment:
      VIRTUAL_HOST: ${DOMAIN_DEMOCRACY_APP_DE:-democracy-app.de}
      LETSENCRYPT_HOST: ${DOMAIN_DEMOCRACY_APP_DE:-democracy-app.de}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-contact@democracy-deutschland.de}
      PORT: 80
    networks:
      default:
      intern:
        aliases:
          - "democracy-app.de"
    depends_on:
      - democracy-app.de-api

  mongodb:
    image: mongo:3.6
    container_name: mongodb
    restart: always
    logging:
      options:
        max-size: ${MONGODB_LOG_MAX_SIZE:-2m}
        max-file: ${MONGODB_LOG_MAX_FILE:-10}
    networks:
      intern:
        aliases:
          - "mongodb"
    command: mongod --smallfiles
volumes:
  db_data: #/data/mongodb/db


networks:
  intern: 
    driver: bridge