<!DOCTYPE html>
<html>

<head>
  <title>JsonDiffPatch</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="http://benjamine.github.io/jsondiffpatch/formatters-styles/html.css" type="text/css" media="screen"
  />
  <script type='text/javascript' src='http://benjamine.github.io/jsondiffpatch/build/jsondiffpatch.min.js'>
  </script>
  <script type='text/javascript' src='http://benjamine.github.io/jsondiffpatch/build/jsondiffpatch-formatters.min.js'>
  </script>
</head>

<body>
  <div id="results">
    <h1>###TITLE###</h1>
    <h2>###ID###</h2>
    <div id="delta-panel-visual">

      <p id="visualdiff">
        ###DIFF_HTML###
      </p>
      <script>
        var objects = ###OBJECTS###;
        ###JS###
      </script>
    </div>
    <div id="delta-panel-annotated" style="display: none;">
      <p id="annotateddiff">
      </p>
    </div>
    <div id="delta-panel-json" style="display: none;">
      <p>
        (
        <span id="jsondifflength"></span>
        KB)
      </p>
      <textarea id="json-delta" readonly>
      </textarea>
      <span class="error-message"></span>
    </div>
  </div>
</body>

</html>