apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  labels:
    app: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: democracy/bundestag.io-admin:3.2.0
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: '4003'
            - name: CREDENTIALS
              value: user:password
            - name: NEXTAUTH_SECRET
              value: secret
            - name: NEXTAUTH_URL
              value: 'https://admin.${var.hostname}'
            - name: BUNDESTAGIO_SERVER_URL
              value: 'http://bundestag-io-api'
            - name: BIO_EDIT_TOKEN
              value: ${var.BIO_EDIT_TOKEN}
            - name: AI_ACCESS_TOKEN
              value: ${var.AI_SERVICE_ACCESS_TOKEN}
            - name: AI_SERVER_URL
              value: 'http://votes-ai'
            - name: AI_SIMULATION
              value: '${var.AI_SIMULATION}'
          ports:
            - containerPort: 4003
              name: http
              protocol: TCP
          resources:
            limits:
              cpu: '4'
              memory: 4Gi
            requests:
              cpu: 10m
              memory: 90Mi
